<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/cusStyle.css}">
</head>

<body>

    <div class="container">
        <h2>帳戶清單</h2>
        <br>
        <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>FIRST NAME</th>
                    <th>Last NAME</th>
                    <th>ACCOUT NAME</th>
                    <th>PHOTO PATH</th>
                    <th>AUTH GROUP</th>
                    <th>OPERATE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="act:${page.content}">
                    <td th:text="${act.id}"></td>
                    <td th:text="${act.firstName}"></td>
                    <td th:text="${act.lastName}"></td>
                    <!-- 方法一 -->
                    <td><a th:text="${act.accountName}" th:href="@{/info/{id}(id=${act.id})}"></a></td>
                    <!-- 方法二 -->
                    <!-- <td><a th:text="${act.accountName}" th:href="@{'/info/' + ${act.id}}"></a></td> -->
                    <td th:text="${act.photoPath}"></td>
                    <td th:text="${act.authGroup}"></td>
                    <td style="max-width: 100px;">
                        <a class="btn btn-danger btn-sm" onclick="javascript:return confirmDel()"
                            th:href="@{/delete/{id}(id=${act.id})}">Delete</a>

                        <a class="btn btn-primary btn-sm" th:href="@{/update/{id}(id=${act.id})}"
                            style="float: right">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" th:href="@{'/memberlist?page=' + ${page.number-1}}" th:unless="${page.first}"> << </a></li>


                <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                    <a class="page-link" th:href="@{|/memberlist?page=${pageNumber-1}|}" th:text=${pageNumber}></a>
                </li>

            
              <li class="page-item"><a class="page-link" th:href="@{'/memberlist?page=' + ${page.number+1}}" th:unless="${page.last}"> >> </a></li>
            </ul>
          </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        function confirmDel() {
            if (confirm("確認要刪除嗎？") == true) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
</body>

</html>