<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <title>新增帳戶</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/cusStyle.css}">
</head>

<body onload="checkStatus()">

    <div id="reStatus" th:if=${status} th:text=${status} hidden></div>

    <div class="container">
        <div class="row">

            <div class="col-sm-2">

            </div>

            <div class="col-sm-4">


                <div class="card bg-light">
                    <div class="card-body">

                        <form enctype="multipart/form-data" method="post" action="#" th:action="@{/insert}">

                            <div class="form-group">
                                <label for="iptAccount">Account Name</label>
                                <input type="text" class="form-control" id="iptAccount" name="accountName">
                            </div>

                            <div class="form-group">
                                <label for="iptPassword">Password</label>
                                <input type="password" class="form-control" id="iptPassword" name="password">
                            </div>

                            <div class="form-group">
                                <label for="iptLastName">姓</label>
                                <input type="text" class="form-control" id="iptLastName" name="lastName">
                            </div>

                            <div class="form-group">
                                <label for="iptFirstName">名</label>
                                <input type="text" class="form-control" id="iptFirstName" name="firstName">
                            </div>

                            <br>

                            <div class="form-group">
                                <input type="file" id="progressbarInput" accept="image/gif, image/jpeg, image/png"
                                    name="file" />
                            </div>

                            <br>

                            <p class="text-center">

                                <button type="submit" class="btn btn-primary btn-block">註冊</button>

                            </p>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div style="width: 185px; height: 185px; border-style: dashed; border-color: black">

                    <img style="max-width: 180px; max-height: 180px; " id="preview_progressbar_img" />

                </div>
            </div>


        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

<script>

    // 提交狀態碼
    function checkStatus() {

        var status = document.getElementById("reStatus");

        if (status.innerHTML.trim() === "success") {
            alert("註冊成功");
            window.location.href = '/login';
        }

        if (status.innerHTML.trim() === "fail") {
            alert("註冊失敗");
        }
    }


    // 圖片上傳顯示
    $("#progressbarInput").change(function () {
        readURL(this);
    });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview_progressbar_img").attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

</html>