<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/cusStyle.css}">
</head>

<body>

    <div class="container errorPage">
        <div class="jumbotron">
            <h1 class="display-4">Error</h1>
            <p class="lead">403</p>
            <hr class="my-4">
            <p>你訪問的權限不足</p>
        </div>
    </div>


</body>

</html>