<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/cusStyle.css}">
</head>

<body>

    <div class="container errorPage">
        <div class="jumbotron">
            <h1 class="display-4">Error</h1>
            <p class="lead">500</p>
            <hr class="my-4">
            <p>伺服器異常，請聯絡管理員</p>
        </div>

        <!-- 把exception 訊息放到 網頁原始碼 -->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL :' + ${url}" th:remove="tag"></div>
        <div th:utext="'Exception message :' + ${exception.message}" th:remove="tag"></div>
        <ul>
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"> <span th:utext="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>

    </div>

</body>

</html>