<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/cusStyle.css}">
</head>

<body>

    <div class="container">
        <div class="cuslogin">
            <form method="post" action="/account/login">

                <div class="form-group">
                    <label for="iptAccount">User Name</label>
                    <input type="text" class="form-control" name="accountName" id="iptAccount">
                </div>

                <div class="form-group">
                    <label for="iptPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="iptPassword">
                </div>

                <button type="submit" class="btn btn-primary" style="float: right">Login</button>

            </form>
            <a th:href="@{/account/register}">註冊</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>