<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="Bubble" class="idv.Spring_Day2.BubbleSort"></bean>
	<bean id="Merge" class="idv.Spring_Day2.MergeSort"></bean>
	<bean id="sortFactory" class="idv.Spring_Day2.SortFactory"></bean>
	<bean id="readSource" class="idv.Spring_Day2.ReadSourceFile"></bean>
	
  
</beans>